<html class="" lang="en">
<head>
    <title>Neel Parpia</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/tailwind.css">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/static/js/layout.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>

<body class="dark:text-white text-black dark:bg-black bg-gray-100 relative h-full w-screen">
<div style="position:fixed;" id="nav" class="z-30 h-20 w-full top-0">
    <div class="border-b justify-between items-center dark:border-gray-800 border-gray-200 bg-white/50 backdrop-blur dark:bg-black/50 flex flex-row h-20 p-4 w-full ">
        <h1 class="font-bold text-2xl">Neel Parpia</h1>
        <div class="flex space-x-3 flex-row text-transparent font-bold">
            <button id="skillsLink" class="bg-clip-text bg-gradient-to-r from-purple-500 to-orange-500">Skills</button>
            <button id="projectsLink" class="bg-clip-text bg-gradient-to-r from-teal-500 to-blue-500">Projects</button>
        </div>
    </div>
</div>
    {% block content %}{% endblock %}
</body>
<script>
    $(document).ready(function () {
        AOS.init();
    })
</script>
</html>